.navButtons {
    width: 120px;
    height: 31px;
    /* margin: 16px 28px 16px 0; */
    float: right;
  }
  
  .infoBadges > * {
    margin-right: 8px;
  }

  .tableOperations {
    margin-bottom: 16px;
  }
  
  .tableOperations > * {
    margin-right: 8px;
  }

  .searchPage {
    width: 30%;
  }
  
  .rowWaited {
    background-color: #fffaeb;
  }
  
  .rowStarted {
    background-color: #ebf8f2;
  }
  
  .rowDone {
    background-color: #fef0ef;
  }
