.navButtons {
  width: 120px;
  height: 31px;
  /* margin: 16px 28px 16px 0; */
  float: right;
}

.infoBadges > * {
  margin-right: 8px;
}

.reportTable tbody tr:first-of-type{
  background-color: #cfefdf;
}

.reportTable tbody tr:first-of-type td:last-of-type{
  background-color: #fabeb9;
}

.cards > * {
  margin-bottom: 8px;
}

.tableOperations {
  margin-bottom: 16px;
}

.tableOperations > * {
  margin-right: 8px;
}

.headerOperations > * {
  margin-right: 8px;
}

.searchPage {
  width: 400px;
}

.rowWaited {
  background-color: #fffaeb;
}

.rowStarted {
  background-color: #ebf8f2;
}

.rowDone {
  background-color: #fef0ef;
}

.campaignNotArchived {
  background-color: #cfefdf;
}

.campaignArchived {
  background-color: #fabeb9;
}

.editableCell {
  position: relative;
}

.editableCellInputWrapper,
.editableCellTextWrapper {
  padding-right: 24px;
}

.editableCellTextWrapper {
  padding: 5px 24px 5px 5px;
}

.editableCellIcon,
.editableCellIconCheck {
  position: absolute;
  right: 0;
  width: 20px;
  cursor: pointer;
}

.editableCellIcon {
  line-height: 18px;
  display: none;
}

.editableCellIconCheck {
  line-height: 28px;
}

.editableCell:hover .editableCellIcon {
  display: inline-block;
}

.editableCellIcon:hover,
.editableCellIconCheck:hover {
  color: #108ee9;
}